body {
    font-family: 'Montserrat', sans-serif;
 }
 h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}
  /* Header */
.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    color: black;
    font-size: 30px;
    font-weight: 700;    
}
 /*Nav*/
.nav{
      font-size: 13px;
      text-transform: uppercase;
}
.nav__link{
    text-decoration: none;
    margin: 0 15px;
    color: black;
    vertical-align: top;
    position: relative;
    transform: color 0.5s linear;
}
.nav__link:after {
    content: "";
    background-color: rgb(114, 35, 74);
    display: block;
    position: absolute;
    opacity: 0; 
    width: 10%;
    height: 3px;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
    transition: width 0.3s linear;
}
.nav__link:hover {
    color: rgb(114, 35, 74);
    font-weight: 700;
   
}
.nav__link:hover:after {
  opacity: 1;
  width: 100%;
}
