body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
 }
 h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}
  /* Header */
.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    color: black;
    font-size: 30px;
    font-weight: 700;    
}
 /*Nav*/
.nav{
      font-size: 13px;
      text-transform: uppercase;
}
.nav__link{
    text-decoration: none;
    margin: 0 15px;
    color: black;
    vertical-align: top;
    position: relative;
    transform: color 0.5s linear;
}
.nav__link:after {
    content: "";
    background-color: rgb(114, 35, 74);
    display: block;
    position: absolute;
    opacity: 0; 
    width: 10%;
    height: 3px;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
    transition: width 0.3s linear;
}
.nav__link:hover {
    color: rgb(114, 35, 74);
    font-weight: 700;
   
}
.nav__link:hover:after {
  opacity: 1;
  width: 100%;
}

  /*Intro*/
.intro{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 100vh;
 background: url("../images/wallpaper.jpg") center no-repeat;
 background-size: cover;
}
.container{
background-color: rgba(255, 255, 255, 0.6);
border-radius: 5px;
padding: 10px;
}
.intro .container{
    margin-top: 110px;
}
.about__me{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.about{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.about_left{
    width: 25%;
    height: 300px;
    background: url("../images/photo_2020-05-14_16-51-32.jpg") center no-repeat ;
    background-size: cover;
    border-radius: 200px;
}
.about_right{
    width: 35%;
    height: 300px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: auto; 
    font-size: 18px;
    font-weight: 700;
}
.about_right_a{
    text-decoration: none;
    color: black;
}
.about_right_a:hover{
    text-decoration: underline;
    color: rgb(114, 35, 74);
}
